<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties">
	</properties>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<mapper resource="easybuy\pojo\mapping\EasyBuyProductMapper.xml"/>
	<mapper resource="easybuy\pojo\mapping\ProductCategoryMapper.xml"/>
	<mapper resource="easybuy\pojo\mapping\EasyBuyNewsMapper.xml"/>
	<mapper resource="easybuy\pojo\mapping\EasyBuyUserMapper.xml"/>
	<mapper resource="easybuy\pojo\mapping\EasyBuyCommentMapper.xml"/>
	<mapper resource="easybuy\pojo\mapping\EasyBuyOrderMapper.xml"/>
	</mappers>
</configuration>
