<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.pojo.mapping.EasyBuyUserMapper" >
  <resultMap id="BaseResultMap" type="easybuy.pojo.EasyBuyUser" >
    <result column="EU_USER_ID" property="euUserId" jdbcType="VARCHAR" />
    <result column="EU_USER_NAME" property="euUserName" jdbcType="VARCHAR" />
    <result column="EU_PASSWORD" property="euPassword" jdbcType="VARCHAR" />
    <result column="EU_SEX" property="euSex" jdbcType="CHAR" />
    <result column="EU_BIRTHDAYL" property="euBirthdayl" jdbcType="DATE" />
    <result column="EU_IDENTITY_CODE" property="euIdentityCode" jdbcType="VARCHAR" />
    <result column="EU_EMAIL" property="euEmail" jdbcType="VARCHAR" />
    <result column="EU_MOBILE" property="euMobile" jdbcType="VARCHAR" />
    <result column="EU_ADDRESS" property="euAddress" jdbcType="VARCHAR" />
    <result column="EU_STATUS" property="euStatus" jdbcType="DECIMAL" />
  </resultMap>
 <!-- 查询模块start-->
  <select id="login" resultMap="BaseResultMap" parameterType="easybuy.pojo.EasyBuyUser">
     select 
     	EU_USER_ID,
     	EU_USER_NAME,
     	EU_PASSWORD,
     	EU_SEX,
     	EU_BIRTHDAYL,
     	EU_IDENTITY_CODE,
     	EU_EMAIL,
     	EU_MOBILE,
     	EU_ADDRESS,
     	EU_STATUS
    from
        EASYBUYUSER
    where
        EU_USER_NAME = #{euUserName,jdbcType = VARCHAR}
    and
        EU_PASSWORD = #{euPassword,jdbcType = VARCHAR} 
  </select>
  
   <select id="getByName" resultMap="BaseResultMap" parameterType="java.lang.String">
     select 
     	EU_USER_ID,
     	EU_USER_NAME,
     	EU_PASSWORD,
     	EU_SEX,
     	EU_BIRTHDAYL,
     	EU_IDENTITY_CODE,
     	EU_EMAIL,
     	EU_MOBILE,
     	EU_ADDRESS,
     	EU_STATUS
    from
        EASYBUYUSER
    where
        EU_USER_NAME = #{euUserName,jdbcType = VARCHAR}
  </select>
 <!-- 查询模块end -->
  <insert id="insert" parameterType="easybuy.pojo.EasyBuyUser" >
    insert into EASYBUYUSER (EU_USER_ID, EU_USER_NAME, EU_PASSWORD, 
      EU_SEX, EU_BIRTHDAYL, EU_IDENTITY_CODE, 
      EU_EMAIL, EU_MOBILE, EU_ADDRESS, 
      EU_STATUS)
    values (#{euUserId,jdbcType=VARCHAR}, #{euUserName,jdbcType=VARCHAR}, #{euPassword,jdbcType=VARCHAR}, 
      #{euSex,jdbcType=CHAR}, #{euBirthdayl,jdbcType=DATE}, #{euIdentityCode,jdbcType=VARCHAR}, 
      #{euEmail,jdbcType=VARCHAR}, #{euMobile,jdbcType=VARCHAR}, #{euAddress,jdbcType=VARCHAR}, 
      #{euStatus,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="easybuy.pojo.EasyBuyUser" >
    insert into EASYBUYUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
        EU_USER_ID,
      <if test="euUserName != null" >
        EU_USER_NAME,
      </if>
      <if test="euPassword != null" >
        EU_PASSWORD,
      </if>
      <if test="euSex != null" >
        EU_SEX,
      </if>
      <if test="euBirthdayl != null" >
        EU_BIRTHDAYL,
      </if>
      <if test="euIdentityCode != null" >
        EU_IDENTITY_CODE,
      </if>
      <if test="euEmail != null" >
        EU_EMAIL,
      </if>
      <if test="euMobile != null" >
        EU_MOBILE,
      </if>
      <if test="euAddress != null" >
        EU_ADDRESS,
      </if>
      <if test="euStatus != null" >
        EU_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      seq_euuser.nextval,
      <if test="euUserName != null" >
        #{euUserName,jdbcType=VARCHAR},
      </if>
      <if test="euPassword != null" >
        #{euPassword,jdbcType=VARCHAR},
      </if>
      <if test="euSex != null" >
        #{euSex,jdbcType=CHAR},
      </if>
      <if test="euBirthdayl != null" >
        #{euBirthdayl,jdbcType=DATE},
      </if>
      <if test="euIdentityCode != null" >
        #{euIdentityCode,jdbcType=VARCHAR},
      </if>
      <if test="euEmail != null" >
        #{euEmail,jdbcType=VARCHAR},
      </if>
      <if test="euMobile != null" >
        #{euMobile,jdbcType=VARCHAR},
      </if>
      <if test="euAddress != null" >
        #{euAddress,jdbcType=VARCHAR},
      </if>
      <if test="euStatus != null" >
        #{euStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="easybuy.pojo.EasyBuyUser">
  update 
        EASYBUYUSER
  set
       EU_PASSWORD = #{euPassword,jdbcType=VARCHAR},
       EU_SEX =  #{euSex,jdbcType=CHAR},
       EU_MOBILE = #{euMobile,jdbcType=VARCHAR},
       EU_ADDRESS =   #{euAddress,jdbcType=VARCHAR}
   where 
       EU_USER_ID =  #{euUserId,jdbcType=VARCHAR}
  </update>
</mapper>